extends layout

block content
  div.pure-g
    div.pure-u-1-4

    div.pure-u-1-2 
        h1.welcome Welcome
        br
        h2.about I'm a web & Grpahic Designer

    div.pure-u-1-1.skillsD 
        h1.skills My Skills 

        div.pure-u-1-1
           h1.skill DESIGN
           p.sTxt I aim for a clean well balanced deisgn that focuses on sending out your message.

        div.pure-u-1-1
            h1.skill DEVELOP
            p.sTxt I can develop using the latest inovative technologies and for a wide range of devices.

        div.pure-u-1-1
            h1.skill PROGRAM
            p.sTxt I am comfortable with a number of programming languages including node Js, java and javascript.
