extends layout

block content
  div.pure-g
    div.pure-u-1-4

    div.pure-u-1-2 
        h1.welcome Login
    
    div.pure-u-1-1.log

        if !yourName && !yourPassword
          form(action="/login", method="post")
            label(for="yourName")
            input(type="text", id="yourName", name="yourName",placeholder="Name")
            label(for="yourPassword")
            input(type="password", id="yourPassword", name="yourPassword",placeholder="Password")
            input(type="submit")
        else
            div.pure-u-1-1.log
                form(method='POST', action='/uploadFile', enctype='multipart/form-data')
                    input(type='file', name='theFile')
                    input(type="text", name="newTitle",placeholder="Title")
                    input(type="text", name="desc",placeholder="Description")
                    input(type='submit', value='Upload') 
            div.pure-u-1-1.log            
                a(href="/files") See Files
    